In [1]:
import pandas as pd
print(pd.__version__)

1.5.0

In [2]:
df = pd.read_csv("car.csv")
print(df.head())

                                                Name  \
0  Hyundai | i20 Active S | TDi | 2015 | Hatchbac...
1                    Excellent car on sale (Hyundai)
2                          TATA 407 Container (Tata)
3                        4x4 swaraj Mazda (Mahindra)
4        i20 Active good for used few time (Hyundai)

                        Price     Used For   Transmisson      Colour  \
0  रू. 24,75,000रू. 25,00,000  Private Use     Manual2WD       Brown
1                रू. 7,50,000          NaN       Auto2WD  Light blue
2                रू. 7,00,000          NaN  Manual - 2WD       White
3                रू. 6,00,000          NaN  Manual - 4WD         NaN
4                     रू. 375          NaN    Auto - 2WD       white

  Make Year Mileage Engine (CC)    Fuel Kilometer Run Waranty  Types
0      2015      14        1400  Petrol         42000     NaN    NaN
1      2005      11        1399  Petrol         87412     NaN    NaN
2      2013     NaN        2956  Diesel         60000     NaN    NaN
3      2017     NaN         NaN  Diesel           NaN     NaN    NaN
4      2019      17        1200  Petrol          2400     NaN    NaN

In [3]:
df.count()

Name             848
Price            848
Used For         357
Transmisson      848
Colour           766
Make Year        848
Mileage          458
Engine (CC)      741
Fuel             848
Kilometer Run    706
Waranty          211
Types              0
dtype: int64

In [4]:
df.drop(df.index[4], inplace=True)
# print(df.head())

In [5]:
# df["Used For"].fillna("not available", inplace=True)
# print(df.head)

In [6]:
# df.isnull().sum()

In [7]:
df["Types"]

0     NaN
1     NaN
2     NaN
3     NaN
5     NaN
       ..
843   NaN
844   NaN
845   NaN
846   NaN
847   NaN
Name: Types, Length: 847, dtype: float64

In [8]:
df['Price'] = df['Price'].str.replace(r'\D', '', regex=True)
print(df.head())

                                                Name           Price  \
0  Hyundai | i20 Active S | TDi | 2015 | Hatchbac...  24750002500000
1                    Excellent car on sale (Hyundai)          750000
2                          TATA 407 Container (Tata)          700000
3                        4x4 swaraj Mazda (Mahindra)          600000
5                      Tata Sumo Gold 2014 GX (Tata)         1400000

      Used For   Transmisson        Colour Make Year Mileage Engine (CC)  \
0  Private Use     Manual2WD         Brown      2015      14        1400
1          NaN       Auto2WD    Light blue      2005      11        1399
2          NaN  Manual - 2WD         White      2013     NaN        2956
3          NaN  Manual - 4WD           NaN      2017     NaN         NaN
5          NaN     Manual2WD  Artic Silver      2014      12      2956cc

     Fuel Kilometer Run Waranty  Types
0  Petrol         42000     NaN    NaN
1  Petrol         87412     NaN    NaN
2  Diesel         60000     NaN    NaN
3  Diesel           NaN     NaN    NaN
5  Diesel           NaN     NaN    NaN

In [9]:
# df['price_length'] = df['Price'].astype(str).apply(len)
# print(df['price_length'])

In [10]:
# df_filtered = df[df['price_length']<10]
# df1 = df_filtered.drop(columns=['price_length'])
# print(df1)

In [11]:
print(df.head())

                                                Name           Price  \
0  Hyundai | i20 Active S | TDi | 2015 | Hatchbac...  24750002500000
1                    Excellent car on sale (Hyundai)          750000
2                          TATA 407 Container (Tata)          700000
3                        4x4 swaraj Mazda (Mahindra)          600000
5                      Tata Sumo Gold 2014 GX (Tata)         1400000

      Used For   Transmisson        Colour Make Year Mileage Engine (CC)  \
0  Private Use     Manual2WD         Brown      2015      14        1400
1          NaN       Auto2WD    Light blue      2005      11        1399
2          NaN  Manual - 2WD         White      2013     NaN        2956
3          NaN  Manual - 4WD           NaN      2017     NaN         NaN
5          NaN     Manual2WD  Artic Silver      2014      12      2956cc

     Fuel Kilometer Run Waranty  Types
0  Petrol         42000     NaN    NaN
1  Petrol         87412     NaN    NaN
2  Diesel         60000     NaN    NaN
3  Diesel           NaN     NaN    NaN
5  Diesel           NaN     NaN    NaN

In [12]:
def clean_price(value):
    value = str(value)
    l = len(value)
    if l>10:
        l1, l2 = value[:l//2], value[l//2:]
        price = (float(l1)+float(l2))/2
        return price
    else:
        return value

In [13]:
df["Price"] = df["Price"].apply(clean_price)
print(df['Price'])

0      2487500.0
1         750000
2         700000
3         600000
5        1400000
         ...
843      2450000
844      1925000
845      1950000
846      1750000
847      2450000
Name: Price, Length: 847, dtype: object

In [14]:
print(df["Price"].dtypes)

object

In [15]:
df['Price'] = pd.to_numeric(df['Price'])

In [16]:
# price = df['Price']
# print(price.dtype)

In [17]:
# price.describe()

In [18]:
# import seaborn as sns

In [19]:
# sns.boxplot(price)

In [20]:
# price.describe()

In [21]:
# price.info()

In [22]:
print(df.head())

                                                Name      Price     Used For  \
0  Hyundai | i20 Active S | TDi | 2015 | Hatchbac...  2487500.0  Private Use
1                    Excellent car on sale (Hyundai)   750000.0          NaN
2                          TATA 407 Container (Tata)   700000.0          NaN
3                        4x4 swaraj Mazda (Mahindra)   600000.0          NaN
5                      Tata Sumo Gold 2014 GX (Tata)  1400000.0          NaN

    Transmisson        Colour Make Year Mileage Engine (CC)    Fuel  \
0     Manual2WD         Brown      2015      14        1400  Petrol
1       Auto2WD    Light blue      2005      11        1399  Petrol
2  Manual - 2WD         White      2013     NaN        2956  Diesel
3  Manual - 4WD           NaN      2017     NaN         NaN  Diesel
5     Manual2WD  Artic Silver      2014      12      2956cc  Diesel

  Kilometer Run Waranty  Types
0         42000     NaN    NaN
1         87412     NaN    NaN
2         60000     NaN    NaN
3           NaN     NaN    NaN
5           NaN     NaN    NaN

In [23]:
print(df.columns)

Index(['Name', 'Price', 'Used For', 'Transmisson', 'Colour', 'Make Year',
       'Mileage', 'Engine (CC)', 'Fuel', 'Kilometer Run', 'Waranty', 'Types'],
      dtype='object')

In [24]:
print(df['Transmisson'])

0         Manual2WD
1           Auto2WD
2      Manual - 2WD
3      Manual - 4WD
5         Manual2WD
           ...
843    Manual - 2WD
844       Manual2WD
845       Manual2WD
846    Manual - 2WD
847      Auto - 4WD
Name: Transmisson, Length: 847, dtype: object

In [25]:
def clean_transmisson(value):
    value = str(value).lower()
    new_val = None
    if 'man' in value:
        if '2' in value:
            new_val = 'Manual-2WD'
        else:
            new_val = 'Manual-4WD'
    elif 'auto' in value:
        if '2' in value:
            new_val = 'Auto-2WD'
        else:
            new_val = 'Auto-4WD'
    else:
        new_val = 'Power-Steering'
    
    return new_val

In [26]:
df['Transmisson'] = df['Transmisson'].apply(clean_transmisson)
print(df['Transmisson'])

0      Manual-2WD
1        Auto-2WD
2      Manual-2WD
3      Manual-4WD
5      Manual-2WD
          ...
843    Manual-2WD
844    Manual-2WD
845    Manual-2WD
846    Manual-2WD
847      Auto-4WD
Name: Transmisson, Length: 847, dtype: object

In [27]:
print(df.dtypes)

Name              object
Price            float64
Used For          object
Transmisson       object
Colour            object
Make Year         object
Mileage           object
Engine (CC)       object
Fuel              object
Kilometer Run     object
Waranty           object
Types            float64
dtype: object

In [28]:
df['Transmisson'].astype(str).dtypes

dtype('O')

In [29]:
df['Make Year'] = df['Make Year'].str.replace(r'\D', '', regex=True)

In [30]:
a = list(df['Make Year'])
print(a)

['2015', '2005', '2013', '2017', '2014', '2019', '2004', '2014', '2016', '2008', '2010', '2018', '2011', '2015', '2019', '2015', '2019', '2021', '2019', '2010', '2017', '2014', '2011', '2019', '2017', '2017', '2010', '2013', '2017', '2018', '2016', '2010', '2009', '2017', '2016', '2021', '2016', '2003', '2016', '2002', '2011', '1997', '2023', '2007', '2017', '2010', '2007', '2006', '2019', '2009', '2010', '2006', '2016', '2002', '2017', '2016', '2016', '2012', '2014', '2021', '2021', '2016', '2011', '2010', '2020', '2011', '2015', '2014', '2014', '2009', '2014', '2020', '2012', '2017', '2022', '2005', '2017', '2013', '2021', '2000', '2009', '2010', '2021', '2021', '2013', '2021', '2022', '2016', '2020', '2017', '2008', '2015', '2020', '2020', '2009', '2021', '2010', '2010', '2016', '2016', '2018', '2016', '2019', '2010', '2021', '2010', '2012', '2011', '2021', '2021', '2016', '2019', '2010', '2014', '2007', '2014', '2010', '2000', '2014', '2011', '2015', '2007', '2012', '2007', '2010', '2006', '1975', '2018', '2016', '2005', '2013', '2009', '2015', '2003', '2002', '2001', '2021', '2022', '2008', '2010', '2005', '2013', '2016', '2010', '2010', '2015', '2015', '2018', '2010', '2023', '2016', '2001', '2019', '2001', '2015', '2015', '2019', '2016', '2017', '2017', '2012', '2018', '2010', '2021', '2009', '2003', '2000', '2016', '2016', '2015', '2014', '2009', '2007', '2007', '2014', '2007', '2017', '2014', '2014', '2014', '2015', '2012', '2010', '2007', '2013', '2016', '2012', '2017', '2008', '2010', '2021', '2020', '2021', '2013', '2019', '2014', '2018', '2007', '2017', '2010', '2016', '2015', '2015', '2021', '2010', '2019', '2016', '2010', '2003', '2010', '2009', '2017', '2017', '2021', '2016', '2017', '2016', '2020', '2009', '2009', '2013', '2015', '2022', '2017', '2017', '2008', '2009', '2021', '2007', '2007', '2010', '2010', '2015', '2012', '2016', '2018', '2014', '2021', '2009', '2015', '2017', '2011', '2007', '2014', '2016', '2014', '2007', '2007', '2002', '2010', '2010', '2009', '2020', '2021', '1998', '2021', '2010', '2021', '2014', '2015', '2006', '2016', '2011', '2015', '2010', '1997', '2014', '2018', '2017', '2013', '2015', '2013', '2014', '2010', '1997', '2006', '2017', '2015', '2014', '2008', '2021', '2018', '2006', '2018', '2010', '2006', '2009', '2010', '2019', '2016', '2017', '2015', '2017', '2003', '2009', '2012', '2016', '2016', '2004', '2009', '2003', '2015', '2012', '2016', '2020', '2021', '2014', '2010', '2020', '2012', '2017', '2004', '2017', '2017', '2021', '2017', '2018', '2008', '2010', '2016', '2014', '1998', '2014', '2016', '1998', '2015', '2006', '2018', '2014', '2022', '2008', '2017', '2003', '2007', '2016', '2021', '2020', '2008', '2009', '2011', '2009', '2015', '2010', '2007', '2014', '2019', '2009', '2021', '2014', '2016', '2015', '2018', '2008', '2008', '2013', '2021', '2013', '2007', '2009', '2017', '2011', '2007', '2010', '2016', '2021', '2023', '2014', '2008', '2018', '2016', '2012', '2010', '2019', '2016', '2016', '2014', '2013', '2016', '2021', '2010', '2015', '2021', '2005', '2019', '2021', '2008', '2012', '2013', '2016', '2023', '2021', '2016', '2017', '2018', '2016', '2015', '2013', '2011', '2016', '2018', '2011', '2011', '2014', '2021', '2011', '2011', '2021', '2012', '2018', '2015', '2009', '2018', '2014', '2010', '2021', '2007', '2013', '2016', '2014', '2017', '2006', '2001', '2013', '2017', '2021', '2016', '2015', '2019', '2020', '2010', '2000', '2021', '2017', '2017', '2017', '2014', '2015', '2009', '2018', '2018', '2004', '2015', '2017', '2017', '2012', '2011', '2007', '2003', '2009', '2017', '2015', '2018', '2021', '2008', '2013', '2019', '2016', '2020', '2019', '2017', '2010', '2013', '2015', '2005', '1975', '2006', '2018', '2005', '2019', '2017', '2004', '1999', '2021', '2016', '2009', '2016', '2007', '2010', '2011', '2012', '2016', '2015', '2016', '2021', '2005', '2019', '2017', '0', '2008', '2008', '2007', '2015', '2014', '2012', '2017', '2019', '2002', '2018', '2016', '2021', '2015', '2017', '2069', '2016', '2020', '2014', '2016', '2018', '2016', '2019', '2021', '2017', '2007', '2009', '2009', '2016', '2011', '2011', '2017', '2020', '2017', '2010', '2013', '2015', '2015', '2011', '2021', '2010', '2018', '2013', '2015', '2010', '2012', '2022', '2016', '2007', '2012', '2007', '2016', '2016', '2006', '2011', '2010', '2018', '2012', '2015', '2014', '2016', '2007', '2007', '2007', '2021', '2023', '2015', '2017', '2021', '2001', '2013', '2013', '2018', '2008', '2021', '2016', '2008', '0', '2016', '2023', '2015', '2018', '2018', '2010', '2018', '2015', '2015', '207', '2021', '2021', '2016', '2023', '2013', '2014', '2016', '2021', '2008', '2005', '2014', '2018', '2003', '2013', '2006', '2016', '2018', '2006', '2020', '2007', '2020', '2017', '2006', '2013', '2015', '2015', '2008', '1992', '2018', '2010', '2009', '2017', '2016', '2018', '2006', '2008', '1999', '2010', '2011', '2010', '2021', '2014', '2010', '2013', '2019', '2018', '2013', '2009', '2015', '2017', '2010', '2009', '2012', '2008', '2020', '2013', '2009', '2016', '2013', '2003', '2006', '2018', '2011', '2016', '2020', '2017', '2014', '2017', '2018', '2018', '2008', '2021', '2018', '2017', '2014', '2017', '2020', '2018', '2019', '2018', '2002', '2013', '2012', '2015', '2020', '1998', '2009', '2016', '2009', '2018', '2005', '2015', '2014', '2018', '2016', '2016', '2007', '2015', '2014', '2017', '2013', '2017', '2010', '2016', '2014', '2009', '2011', '2021', '2020', '2007', '2012', '2010', '2007', '2013', '2008', '2015', '2014', '2018', '2008', '2019', '2006', '2021', '2009', '2015', '2010', '2060', '2008', '2000', '2010', '2012', '2009', '2017', '2009', '2010', '2021', '202', '2015', '2015', '2018', '2021', '2016', '2009', '2015', '2009', '2005', '2015', '2004', '2009', '2021', '2011', '2010', '2018', '2009', '2004', '2014', '2016', '2004', '2014', '2002', '2019', '2014', '2019', '2016', '2014', '2013', '2011', '2021', '2014', '2009', '2009', '2019', '2018', '2013', '2017', '2018', '2004', '2018', '2007', '2014', '2015', '2003', '13', '2019', '2007', '2009', '2009', '2018', '2017', '2014', '2015', '2017', '2018', '2018', '2008', '2011', '2010', '2016', '2004', '2017', '2005', '2021', '2016', '2008', '2012', '2012', '2021', '2023', '2013', '2014', '2018', '2011', '2009', '2009', '2017', '2017', '2018', '2018', '2017', '2021', '2016', '2019', '2008', '2017', '2001', '2001', '2017', '2018', '2019', '2017', '207', '2013', '2023', '2019', '2007', '2013', '2008', '2017', '2010', '2020', '2017', '2012', '2018', '2005', '2013', '2012', '2022', '2021', '2020', '2010', '1993', '2012', '1999', '2016', '2021', '2017', '2018', '2014', '2018', '2011', '2008', '2022', '2015', '2017', '2021', '2019', '2010', '2004', '2020', '2015', '2014', '2014', '2007']

In [31]:
print(type(a))

<class 'list'>

In [32]:
print([x for x in a if x>'2023'])

['2069', '207', '2060', '207']

In [33]:
for x in a:
    x = int(x)
    if (x<1950 or x>2024):
        print(x)

0
2069
0
207
2060
202
13
207

In [34]:
df['Make Year'] = pd.to_numeric(df['Make Year'], errors='coerce')
print(df['Make Year'].dtype)

int64

In [35]:
print(df.head())

                                                Name      Price     Used For  \
0  Hyundai | i20 Active S | TDi | 2015 | Hatchbac...  2487500.0  Private Use
1                    Excellent car on sale (Hyundai)   750000.0          NaN
2                          TATA 407 Container (Tata)   700000.0          NaN
3                        4x4 swaraj Mazda (Mahindra)   600000.0          NaN
5                      Tata Sumo Gold 2014 GX (Tata)  1400000.0          NaN

  Transmisson        Colour  Make Year Mileage Engine (CC)    Fuel  \
0  Manual-2WD         Brown       2015      14        1400  Petrol
1    Auto-2WD    Light blue       2005      11        1399  Petrol
2  Manual-2WD         White       2013     NaN        2956  Diesel
3  Manual-4WD           NaN       2017     NaN         NaN  Diesel
5  Manual-2WD  Artic Silver       2014      12      2956cc  Diesel

  Kilometer Run Waranty  Types
0         42000     NaN    NaN
1         87412     NaN    NaN
2         60000     NaN    NaN
3           NaN     NaN    NaN
5           NaN     NaN    NaN

In [36]:
def clean_make_year(x):
    x = int(x)
    if x<1950 or x>2024:
        x = None
    else:
        x = str(x)
    return x

In [37]:
df['Make Year'] = df['Make Year'].apply(clean_make_year)

In [38]:
print(set(df['Make Year']))

{'2011', '2006', '2000', '2003', '1999', '2012', '2008', '2022', '1998', '2004', '2001', '2018', '2014', '2019', '2021', '2013', '2016', '1997', '1992', '1993', '2010', '2009', '2002', '2007', '2017', '1975', '2020', '2023', '2015', '2005', None}

In [39]:
print(df.head())

                                                Name      Price     Used For  \
0  Hyundai | i20 Active S | TDi | 2015 | Hatchbac...  2487500.0  Private Use
1                    Excellent car on sale (Hyundai)   750000.0          NaN
2                          TATA 407 Container (Tata)   700000.0          NaN
3                        4x4 swaraj Mazda (Mahindra)   600000.0          NaN
5                      Tata Sumo Gold 2014 GX (Tata)  1400000.0          NaN

  Transmisson        Colour Make Year Mileage Engine (CC)    Fuel  \
0  Manual-2WD         Brown      2015      14        1400  Petrol
1    Auto-2WD    Light blue      2005      11        1399  Petrol
2  Manual-2WD         White      2013     NaN        2956  Diesel
3  Manual-4WD           NaN      2017     NaN         NaN  Diesel
5  Manual-2WD  Artic Silver      2014      12      2956cc  Diesel

  Kilometer Run Waranty  Types
0         42000     NaN    NaN
1         87412     NaN    NaN
2         60000     NaN    NaN
3           NaN     NaN    NaN
5           NaN     NaN    NaN

In [40]:
print(df.dtypes)

Name              object
Price            float64
Used For          object
Transmisson       object
Colour            object
Make Year         object
Mileage           object
Engine (CC)       object
Fuel              object
Kilometer Run     object
Waranty           object
Types            float64
dtype: object

In [41]:
df['Kilometer Run'] = df['Kilometer Run'].str.replace(r'\D', '', regex=True)

In [42]:

df['Make Year'] = pd.to_numeric(df['Make Year'])
df['Kilometer Run'] = pd.to_numeric(df['Kilometer Run'])

In [43]:
df.dtypes

Name              object
Price            float64
Used For          object
Transmisson       object
Colour            object
Make Year        float64
Mileage           object
Engine (CC)       object
Fuel              object
Kilometer Run    float64
Waranty           object
Types            float64
dtype: object

In [44]:
import re

def get_brands(x):
    try:
        x_rev = x[::-1]
        result = re.search(r'\){1}([^\(]*)', x_rev)
        x_str = result.group(1)
        value = x_str[::-1]
        return value
    except:
        return 'Other Brands'

In [45]:
df['Brand'] = df['Name'].apply(get_brands)
print(df['Brand'])

0       Hyundai
1       Hyundai
2          Tata
3      Mahindra
5          Tata
         ...
843     Hyundai
844     Hyundai
845     Renault
846     Hyundai
847      Nissan
Name: Brand, Length: 847, dtype: object

In [46]:
df1 = df[['Brand', 'Price', 'Transmisson', 'Make Year', 'Mileage', 'Engine (CC)', 'Fuel', 'Kilometer Run']]

In [47]:
print(df1.head())

      Brand      Price Transmisson  Make Year Mileage Engine (CC)    Fuel  \
0   Hyundai  2487500.0  Manual-2WD     2015.0      14        1400  Petrol
1   Hyundai   750000.0    Auto-2WD     2005.0      11        1399  Petrol
2      Tata   700000.0  Manual-2WD     2013.0     NaN        2956  Diesel
3  Mahindra   600000.0  Manual-4WD     2017.0     NaN         NaN  Diesel
5      Tata  1400000.0  Manual-2WD     2014.0      12      2956cc  Diesel

   Kilometer Run
0        42000.0
1        87412.0
2        60000.0
3            NaN
5            NaN

In [48]:
print(df1.dtypes)

Brand             object
Price            float64
Transmisson       object
Make Year        float64
Mileage           object
Engine (CC)       object
Fuel              object
Kilometer Run    float64
dtype: object

In [49]:
df1.to_csv('cars_cleaned.csv', index=False)