In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cars_cleaned.csv')
print(df.dtypes)

Brand             object
Price            float64
Transmisson       object
Make Year        float64
Mileage           object
Engine (CC)       object
Fuel              object
Kilometer Run    float64
dtype: object

In [3]:
print(df.head())

      Brand      Price Transmisson  Make Year Mileage Engine (CC)    Fuel  \
0   Hyundai  2487500.0  Manual-2WD     2015.0      14        1400  Petrol
1   Hyundai   750000.0    Auto-2WD     2005.0      11        1399  Petrol
2      Tata   700000.0  Manual-2WD     2013.0     NaN        2956  Diesel
3  Mahindra   600000.0  Manual-4WD     2017.0     NaN         NaN  Diesel
4      Tata  1400000.0  Manual-2WD     2014.0      12      2956cc  Diesel

   Kilometer Run
0        42000.0
1        87412.0
2        60000.0
3            NaN
4            NaN

In [4]:
# import re
# #x=mileage, y=fuel
# def clean_engine(x,y):
#     x = str(x)
#     y = str(y)
#     try:
#         if y=='Petrol' or y=='Diesel':
#             mileage = re.search(r'\D([0-9]*)\D', x)
#             return mileage.group(1)
#     except:
#         return 1
# #         if mileage is None:
# #             return None
# #         else:
# #             return mileage.group(1)
# #     else:
# #         return None

In [5]:
# result = df.apply(lambda row: clean_engine(row['Mileage'], row['Fuel']), axis=1)
# print(result)

In [6]:
print(df['Engine (CC)'])

0        1400
1        1399
2        2956
3         NaN
4      2956cc
        ...
842      1200
843      1200
844      1200
845      1200
846      2200
Name: Engine (CC), Length: 847, dtype: object

In [7]:
import re
def clean_engine(row):
    x = str(row['Engine (CC)'])
    y = str(row['Fuel']).lower()
    
    if y=='hybrid' or y=='electric':
        eng = re.search(r"([0-9]*)", x)
        engine = eng.group(1)
        try:
            engine = int(engine)
            if engine>=150:
                return engine
            else:
                #assuming 1kw=1.34hp and 1hp=15cc
                return engine*1.34*15
        except:
            return None
    else:
        eng = re.sub(r"\D",'', x)
        
        try:
            engine = float(eng)
            if engine>=100:
                return engine
            else:
                return engine*100
        except:
            return None

In [8]:
result = df.apply(clean_engine, axis=1)
print(result.head(10))

0    1400.0
1    1399.0
2    2956.0
3       NaN
4    2956.0
5     889.0
6     800.0
7    1200.0
8    1200.0
9       NaN
dtype: float64

In [9]:
df['Engine'] = df.apply(clean_engine, axis=1)
print(df['Engine'].head(10))

0    1400.0
1    1399.0
2    2956.0
3       NaN
4    2956.0
5     889.0
6     800.0
7    1200.0
8    1200.0
9       NaN
Name: Engine, dtype: float64

In [10]:
import re

def clean_mileage(row):
    x = str(row['Mileage'])
    y = str(row['Fuel'])
    z = str(row['Engine'])
    
    if y=='Petrol' or y=='Diesel':
        mileage = re.search(r"([0-9]*)", x)
        result = mileage.group(1)
        try:
            result = int(result)
            if result<=30:
                return result
            else:
                return None
        except:
            return None
    else:
        mileage = re.search(r"([0-9]*)", x)
        result = mileage.group(1)
        try:
            result = int(result)
            if result>30:
                return result/1000//int(z)
            elif result>=10:
                return result
            else:
                return 9*87/1000//int(z)
        except:
            return None

In [11]:
df['Mileage'] = df.apply(clean_mileage, axis=1)
print(result.tail(10))

837    2500.0
838    1200.0
839    2500.0
840    1200.0
841    1498.0
842    1200.0
843    1200.0
844    1200.0
845    1200.0
846    2200.0
dtype: float64

In [12]:
df1 = df[['Brand', 'Price', 'Transmisson', 'Make Year', 'Mileage', 'Engine', 'Fuel', 'Kilometer Run']]

In [13]:
print(df1.dtypes)

Brand             object
Price            float64
Transmisson       object
Make Year        float64
Mileage          float64
Engine           float64
Fuel              object
Kilometer Run    float64
dtype: object

In [14]:
df1.to_csv('cars_final.csv', index=False)
print('csv file successfully created.')

csv file successfully created.

In [15]:
df1['Mileage'].unique()

array([14., 11., nan, 12., 15., 17., 20., 18., 13., 21., 10., 16.,  5.,
        7., 19., 22.,  6.,  8., 29., 25., 23., 27.])